@import
    'abstracts/_variables.scss',
    'abstracts/_mixins.scss';
@import
    'vendors/_leaflet.scss',
    'vendors/_leaflet-geoman.scss';
@import
    'components/_preview.scss',
    'components/_map.scss';


.k-mapnotator-container {
    border-radius: var(--rounded);
    overflow: hidden;
}

.k-mapnotator-error-dialog {
    .k-dialog-buttons {
        grid-template-columns: 1fr;
    }
}

.k-mapnotator-field {

    .k-field-header {
        --icon-size: 16px;
    }

    /* Input
    ----------------------------*/

    .k-mapnotator-input {
        position: relative;
        display: flex;
        align-items: center;
        overflow: visible;
        z-index: 3;
        &-inner {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .k-text-input {
            @include text-truncate;
        }
        button {
            border: none;
            background: var(--color-gray-900);
            color: white;
            padding: 0 1.5rem 0 1.25rem;
            height: 2.25rem;
            font-size: var(--text-sm);
            outline: 0;
            display: flex;
            align-items: center;
            gap: .75rem;
            svg {
                width: 14px;
                height: 14px;
                fill: white;
                max-inline-size: none;
            }
            &.disabled {
                background: light-dark(var(--color-gray-100), var(--color-gray-800));
                color: var(--color-gray-400);
                pointer-events: none;
                svg {
                    fill: var(--color-gray-400);
                }
            }
        }
        .k-mapnotator-dropdown {
            top: calc(100% + 2px) !important;
            width: 100%;
            display: block;
            .info {
                color: var(--color-gray-500);
                margin-left: 0.25rem;
            }
            &.hidden {
                display: none;
            }
        }
    }

    /* Map
    ----------------------------*/

	.map-container {
		position: relative;
        height: 430px;
        margin-top: 1rem;
        &[data-size="full"] {
            height: calc(100vh - 1.25rem - .75rem * 2 - 2.5rem * 2 - 1rem * 3);
            min-height: 430px;
        }
        &[data-size="large"] {
            height: 430px;
        }
        &[data-size="medium"] {
            height: 340px;
        }
        &[data-size="small"] {
            height: 280px;
        }
		.map {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
        .leaflet-control-attribution svg {
            display: inline-block;
        }
	}
}

